body {
    background-color: black;
}

/* Estilos navbar */

#logotipo {
    width: 30px;
    height: auto;
    margin-right: 2px;
}

/* Estilos seccion 1: ¿Quiénes somos? */

hr {
    border-bottom: 0.5px solid #fff;
    width: auto;
}

i {
    color: #ffffff;
}

.barras-color {
    background-color: #0ECAF0;
    display: block;
    height: 30px;
}


p {
    color: #ffffff;
    text-align: left;
}

/* Estilos seccion 2: destacados */

.card-body {
    background-color: #0ECAF0;
}

.card-img-top {
        height: 180px;
}

.card-title {
    color: #ffffff;
}


/* Estilos sección 3: */




/* Estilos sección Footer */

footer {
    background-color: #0ECAF0;
}