body {
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

/* Estilos navbar */

#logotipo {
    width: 30px;
    height: auto;
    margin-right: 2px;
}


h3 {
    font-weight: 300;
}


/* Estilos seccion 1: ¿Quiénes somos? */

hr {
    border-bottom: 0.5px solid #fff;
    width: auto;
}

i {
    color: #ffffff;
}

.barras-color {
    background-color: #0ECAF0;
    display: block;
    height: 40px;
}


p {
    color: #ffffff;
    text-align: left;
}

/* Estilos seccion 2: destacados */

.card {
    width: 18rem;
}

.card-body {
    background-color: #0ECAF0;
}

.card-img-top {
        height: 180px;
}

.card-title {
    color: #ffffff;
}


/* Estilos sección 3: CONTACTO */


#formulario {
    margin-bottom: 3rem;
}

/* Estilos sección FOOTER */

footer {
    background-color: #0ECAF0;
    max-height: fit-content;
}

#texto-footer {
    color: #ffffff;
    font-weight: 300;
    display: block;
    position: absolute;
    font-size: x-large;
    margin-left: 150px;
    margin-top: 15px;
}

.iconos-footer {
    text-decoration: none;
    display: inline-flex;
    margin-right: 10px;
}

/* Media queries */

@media (max-width: 576px) {

    #seccion2 {
        display: none;
    }

    .card {
        width: 416px;
        height: auto;
        margin: 10px auto;
        float: none;
    }

    .card-body {
        background-color: #0ECAF0;
    }
    
    .card-img-top {
            height: 180px;
    }
    
    .card-title {
        color: #ffffff;
    }

    #texto-footer {
        color: #ffffff;
        font-weight: 300;
        display: none;
        font-size: x-large;
        margin-left: 150px;
        margin-top: 15px;
    }

}